/* Contact content */
.contact {
  @include flex($justify-content: space-around);
  width: 1200px;
  padding: 50px 15px;
}

.container-contact {
  background-color: $light-blue-color;
  @include flex($flex-direction: column, $align-items: center);
}

.contact-content-item {
  @include flex($flex-direction: column, $align-items: center);
}

.contact-content-item a {
  margin-top: 10px;
  @include text-style($font-weight: $font-weight-light, $text-decoration: none, $color: $white-color);
}

.contact-content-item h2 {
  @include text-style($font-weight: $font-weight-normal, $color: $white-color);
  margin: 10px 0 0;
}

.contact-content-item .fa-solid, 
.contact-content-item .fa-brands {
  color: white;
  padding-bottom: 20px;
}