/* Contact content */
.contact {
  display: flex;
  align-items: center;
  width: 1200px;
  padding: 15px 50px;
  flex-direction: column;
}

.container-contact {
  background-color: #3498db;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.contact-content-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin: 30px 40px;
}

.contact-content-item p, 
.contact-content-item a {
  text-align: center;
  font-weight: 200;
  color: #ffffff;
  text-decoration: none;
}

.contact-content-item h2 {
  font-weight: 400;
  color: #ffffff;
  margin: 10px;
}

.contact-content-item .fa-solid, 
.contact-content-item .fa-brands {
  color: white;
  padding-bottom: 20px;
}