/* Contact content */
.contact {
  display: flex;
  justify-content: space-around;
  width: 1200px;
  padding: 50px 15px;
}

.container-contact {
  background-color: $light-blue-color;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-content-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-content-item a {
  font-weight: 200;
  color: $white-color;
  text-decoration: none;
  margin-top: 10px;
}

.contact-content-item h2 {
  font-weight: 400;
  color: $white-color;
  margin: 10px 0 0;
}

.contact-content-item .fa-solid, 
.contact-content-item .fa-brands {
  color: white;
  padding-bottom: 20px;
}