.container-development {
  background-color: $white-color;
  display: flex;
  justify-content: center;
  align-items: center;
}

.development {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  padding: 50px 15px;
}

.development h2 {
  font-weight: 400;
}

.development-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.development-content-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 100%;
  margin: 20px;
  height: 350px;
}

.development-content-item p {
  text-align: center;
  font-weight: 200;
  color: #7f7f7f;
}

.development-content-item hr {
  border: 1px solid #337ab7;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
}