.container-development {
  background-color: $white-color;
  @include flex($justify-content: center, $align-items: center);
}

.development {
  @include flex($flex-direction: column, $align-items: center);
  width: 1200px;
  padding: 50px 15px;
}

.development h2 {
  font-weight: $font-weight-normal;
}

.development-content h2 {
  color: $gray-color;
}

.development-content {
  @include flex($justify-content: center, $align-items: center);
  width: 100%;
  max-width: 1200px;
}

.development-content-item {
  @include flex($flex-direction: column, $align-items: center);
  width: 350px;
  height: 100%;
  margin: 20px;
  height: 350px;
}

.development-content-item p {
  @include text-style($font-weight: $font-weight-light, $text-align: center, $color: $gray-color);
}

.development-content-item hr {
  border: 1px solid $blue-color;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
}

.slick-dots li button:before {
  font-size: 12px;
  margin-top: 10px;
}