header {
  height: 100px;
  width: 100%;
  top: 0;
  display: flex;
  position: sticky;
  background-color: $white-color;
  box-shadow: 0 0 10px;
  z-index: 1;
  align-items: center;
  flex-direction: column;
}

.nav-content {
  padding: 0 15px;
  width: 1250px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.nav-logo {
  width: 80px;
  height: 80px;
  margin: 10px 0;
}

.nav-menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.menu-list {
  list-style-type: none;
  display: flex;
  font-size: 16px;
}

.menu-link {
  padding: 10px 20px;
  text-decoration: none;
  color: $nav-menu-color;
  transition: color 0.4s, background-color 0.4s, box-shadow 0.4s, border-radius 0.4s;
}

.menu-link:focus,
.menu-link:active {
  color: $white-color;
  background-color: $hover-menu-background-color;
  box-shadow: 0 0 10px rgba(80, 74, 74, 0.5);
  border-radius: 50rem;
}

.menu-link:hover {
  color: $hover-menu-background-color;
  background-color: $light-gray-color;
  box-sizing: border-box;
}

.toggle-menu {
  width: 22px;
  height: 12px;
  padding: 10px;
  display: none;
  cursor: pointer;
  align-items: center;
  background-color: $hover-menu-background-color;
  border-radius: 4px;
  position: relative;
  justify-content: start;
}

.toggle-menu span {
  width: 22px;
  height: 2px;
  transform: scale(1);
  background-color: $white-color;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toggle-menu::before,
.toggle-menu::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 2px;
  margin: 10px 0;
  background-color: $white-color;
  transition: all 0.3s ease 0s;
}

.nav-dropdown.open {
  display: flex;
}

.toggle-menu::before {
  top: -2px;
}

.toggle-menu::after {
  bottom: -2px;
}

.toggle-menu.active span {
  transform: scale(0);
}

.toggle-menu.active::before {
  top: 5.5px;
  transform: rotate(-45deg) translate(0, -50%);
}

.toggle-menu.active::after {
  bottom: 5.5px;
  transform: rotate(45deg) translate(0, 50%);
}