/* Header */
header {
  height: 100px;
  width: 100%;
  top: 0;
  position: sticky;
  background-color: $white-color;
  box-shadow: 0 0 10px;
  z-index: 1;
  @include flex(column, center);
}

.nav-content {
  padding: 0 15px;
  width: 1250px;
  @include flex($align-items: center, $justify-content: center);
}

.nav-logo {
  width: 80px;
  height: 80px;
  margin: 10px 0;
}

.nav-menu {
  width: 100%;
  @include flex($align-items: center, $justify-content: space-between);
}

.menu-list {
  list-style-type: none;
  display: flex;
  font-size: $font-size-normal;
}

.menu-link {
  padding: 10px 20px;
  text-decoration: none;
  color: hsl(224, 8%, 49%);;
  transition: color 0.4s, background-color 0.4s, box-shadow 0.4s, border-radius 0.4s;
}

.menu-link:hover {
  color: $blue-color;
  background-color: $light-gray-color;
  box-sizing: border-box;
}

.toggle-menu {
  width: 22px;
  height: 12px;
  padding: 10px;
  display: none;
  cursor: pointer;
  align-items: center;
  background-color: $blue-color;
  border-radius: 4px;
  position: relative;
  justify-content: start;
}

.toggle-menu span {
  width: 22px;
  height: 2px;
  transform: scale(1);
  background-color: $white-color;
  @include flex(column, center);
}

.toggle-menu::before,
.toggle-menu::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 2px;
  margin: 10px 0;
  background-color: $white-color;
  transition: all 0.3s ease 0s;
}

.nav-dropdown.open {
  display: flex;
}

.toggle-menu::before {
  top: -2px;
}

.toggle-menu::after {
  bottom: -2px;
}

.toggle-menu.active span {
  transform: scale(0);
}

.toggle-menu.active::before {
  top: 5.5px;
  transform: rotate(-45deg) translate(0, -50%);
}

.toggle-menu.active::after {
  bottom: 5.5px;
  transform: rotate(45deg) translate(0, 50%);
}

.menu-link.active {
  color: $white-color;
  background-color: $blue-color;
  box-shadow: 0 0 10px rgba(80, 74, 74, 0.5);
  border-radius: 50rem;
}