/* Mentors content */
.container-mentors {
  @include flex($flex-direction: column, $align-items: center);
  background-color: $white-color;
}

.mentors {
  @include flex($flex-direction: column, $align-items: center);
  width: 1200px;
  padding: 50px 15px;
}

.mentors h2 {
  font-weight: $font-weight-normal;
}

.mentors-content {
  width: 100%;
}

.mentors-content-item {
  display: flex !important;
  margin: 20px;
}

.mentors-content-text {
  width: 650px;
  padding-left: 60px;
}

.mentors-content-text p {
  width: auto;
	@include text-style($font-weight: $font-weight-light, $color: $gray-color);
  margin-bottom: 15px;
}

.mentors-content-text h3 {
  margin-bottom: 15px;
	@include text-style($font-size: 20px, $color: $light-blue-color);
}

.mentors-content-text hr {
  margin-bottom: 30px;
  opacity: 8%;
}

.mentors-content-item img {
  width: 256px;
  height: 256px;
}