/* Register */

main {
	background-color: $light-gray-color;
	width: 100%;
}

.container-reg {
	background-color: $light-gray-color;
  @include flex($justify-content: center, $align-items: center);
	padding: 40px 15px;
}

.reg-field {
  margin-bottom: 10px;
}

.reg-left-content {
  @include flex($flex-direction: column, $align-items: center);
	width: 550px;
}

.reg-left-content h4 {
  @include text-style($font-size: 28px, $font-weight: $font-weight-semibold, $text-align: center);
}

.reg-left-content p {
	width: 500px;
	padding-top: 30px;
  @include text-style($font-weight: 100, $text-align: center);
}

.about-oxit {
	@include text-style($font-size: $font-size-small, $color: hsl(224, 8%, 49%));
	line-height: 1.6;
}

/* Right content */
.reg-right-content {
  @include flex($flex-direction: column, $align-items: center);
	margin-left: 60px;
}

.registration {
  @include flex($flex-direction: column, $align-items: start);
}

.registration h2 {
  @include text-style($font-size: 1.3em, $font-weight: $font-weight-semibold);
}

.registration label {
  margin-bottom: 5px;
  display: block;
}

.registration input {
  padding: 15px;
  width: 600px;
  border-radius: 5px;
  border: 1px solid #bababa;
}

.registration input.error {
  border-radius: 2px;
  border: 1px solid red;
  box-shadow: inset 0 0 5px red;
}

.registration input:focus {
  outline: none;
  border: 1px solid $blue-color;
  box-shadow: 0 0 5px rgba(51, 122, 183, 0.5);
}

.registration .field-container {
  margin-top: 10px;
}

#policy {
  width: fit-content;
}

.checkbox {
  @include flex($justify-content: start, $align-items: center);
  margin-top: 10px;
}

.checkbox input {
  width: fit-content;
  margin-right: 8px;
}

.checkbox label {
  margin-bottom: 0px;
}

.checkbox a {
  text-decoration: none;
  color: $blue-color;
}

.checkbox a:hover {
  text-decoration: underline;
}

.registration b {
  cursor: pointer;
	@include text-style($font-weight: bold, $color: red);
}

.registration h3 {
  margin-bottom: 10px;
}

.registration button {
  align-self: center;
  margin-top: 20px;
  background-color: $light-blue-color;
  height: 50px;
  width: 370px;
  cursor: pointer;
  border-radius: 30px;
  border: none;
  transition: all 0.4s;
  padding: 10px 15px;
	@include text-style($font-weight: $font-weight-medium, $color: $white-color);
}

.registration form button:hover {
  color: $blue-color;
  background-color: $white-color;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}