/* Register */

main {
	background-color: #f7f7f7;
	width: 100%;
}

.container-reg {
	background-color: #f7f7f7;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 40px 15px;
}

.reg-field {
  margin-bottom: 10px;
}

.reg-left-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 550px;
}

.reg-left-content h4 {
	font-size: 28px;
	font-weight: 600;
	text-align: center;
}

.reg-left-content p {
	text-align: center;
	width: 500px;
	padding-top: 30px;
	font-weight: 100;
}

.about-oxit {
	font-size: 14px;
	color: hsl(224, 8%, 49%);;
	line-height: 1.6;
}

/* Right content */
.reg-right-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 60px;
}

.registration {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.registration h2 {
  font-size: 1.3em;
  font-weight: 600;
}

.registration label {
  margin-bottom: 5px;
  display: block;
}

.registration input {
  padding: 15px;
  width: 600px;
  border-radius: 5px;
  border: 1px solid #bababa;
}

.registration input.error {
  border-radius: 2px;
  border: 1px solid red;
  box-shadow: inset 0 0 5px red;
}

.registration input:focus {
  outline: none;
  border: 1px solid #337ab7;
  box-shadow: 0 0 5px rgba(51, 122, 183, 0.5);
}

.registration .field-container {
  margin-top: 10px;
}

#policy {
  width: fit-content;
}

.checkbox {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 10px;
}

.checkbox input {
  width: fit-content;
  margin-right: 8px;
}

.checkbox label {
  margin-bottom: 0px;
}

.checkbox a {
  text-decoration: none;
  color: #337ab7;
}

.checkbox a:hover {
  text-decoration: underline;
}

.registration b {
  font-weight: bold;
  cursor: pointer;
  color: red;
}

.registration h3 {
  margin-bottom: 10px;
}

.registration button {
  align-self: center;
  margin-top: 20px;
  color: #ffffff;
  background-color: #337ab7;
  height: 50px;
  width: 370px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 30px;
  border: none;
  transition: all 0.4s;
  padding: 10px 15px;
}

.registration form button:hover {
  color: #337ab7;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}