// Colors
$blue-color: #337ab7;
$light-blue-color: #3498db;
$white-color: #ffffff;
$gray-color: #7f7f7f;
$light-gray-color: #f7f7f7;

// Fonts
$font-size-small: 14px;
$font-size-normal: 16px;
$font-size-medium: 22px;

$font-weight-light: 200;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;