/* Header content */
header {
  background-color: $white-color;
  box-shadow: 0 0 10px;
  position: sticky;
  width: 100%;
  height: 100px;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-content {
  width: 1200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo-oxit img {
  width: 75px;
  height: 75px;
  margin: 15px 0;
}

.haeder-menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.menu-ul {
  display: flex;
  list-style-type: none;
  font-size: 16px;
}

.menu-ul a {
  text-decoration: none;
  padding: 10px 20px 10px 20px;
  color: $nav-menu-color;
  transition: color 0.4s, background-color 0.4s, box-shadow 0.4s, border-radius 0.4s;
}

.menu-ul a:focus,
.menu-ul a:active {
  color: $white-color;
  background-color: $hover-menu-background-color;
  box-shadow: 0 0 10px rgba(80, 74, 74, 0.5);
  border-radius: 50rem;
}

a:hover {
  color: $hover-menu-background-color;
  background-color:  #eeeeee;
  box-sizing: border-box;
}